@charset "utf-8";

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

@media screen and (max-width:1150px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width:1020px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width:910px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width:800px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width:690px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width:580px) {
  html {
    font-size: 4px;
  }
}

body {

  color: #fff;
  box-sizing: border-box;
}

.header-wrapper {
  width: 100%;
  display: flex;
  background-color: #000;
}

.header-wrapper__left__image {
  width: 75%;
}

.header-wrapper__left__image img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 0%;
}

.header-wrapper__right__nav__logo {
  width: 100%;
  text-align: center;
  margin-top: 15%;

}

.header-wrapper__right__nav__logo img {
  width: 37%;
}


.sp-logo {
  display: none;
}

.header-wrapper__right__nav {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
}

.header-wrapper__right__nev__list {
  margin: 30% 0;
}

.header-wrapper__right__nev__list li {

  margin: 15% auto 0;
}

.header-wrapper__right__nev__list a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}

@media screen and (max-width:1150px) {
  .header-wrapper__right__nev__list a {

    font-size: 3rem;
  }
}

.header-wrapper__right__nev__list a:hover {
  opacity: 0.6;
}

.header-wrapper__right__nev__list__tell {
  width: 100%;
  margin: 0 auto;
}

.phone {
  margin-right: 7%;
}

.header-wrapper__right__nev__list__tell p {
  font-size: 2rem;
  border: solid #fff 1px;
  padding: 3% 3%;
  margin: 0 20%;
}

@media screen and (max-width:431px) {
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 0px;
    top: 0px;
    width: 42px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    background-color: #000;
  }

  .hamburger span {

    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    left: 10px;
    top: 5px;
    background: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }

  .hamburger span:nth-child(2) {
    top: 15px;
  }

  .hamburger span:nth-child(3) {
    top: 20px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 10px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    opacity: 0;

    visibility: hidden;
    transition: opacity .6s ease, visibility .6s ease;
  }

  .header-wrapper__right__nev__list {
    margin: 0 auto;
    text-align: center;
  }

  .header-wrapper__right__nev__list li {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
  }

  nav.globalMenuSp ul li {
    border-bottom: solid #fff 1px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 20vh;
    text-align: center;
    text-decoration: none;

  }

  .header-wrapper__right__nev__list__tell {
    display: none;
  }

  .header-wrapper__right__nev__list li:last-child {
    padding-bottom: 0;
  }

  .sp-logo {
    width: 100%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .sp-logo img {
    margin: 0 auto;
    width: 25%;
  }

  nav.globalMenuSp ul li a {
    font-size: 6rem;
    display: block;
    font-family: 'Noto Serif', serif;
    color: #fff;
    text-decoration: none;


  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
  }

  .header-wrapper__left__image {
    width: 100%;
    height: 100vh;
  }

  .header-wrapper__left__image img {
    background-color: #000;
    width: 100%;
    height: 100vh;
    object-position: 25% 0%;

  }

  .header-wrapper__right__nav {
    width: 0px;
    margin: 0 auto;
    height: 100vh;
    text-align: center;

  }

  .header-wrapper {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);

  }

}

.main {
  background-color: #000;
}

.news {
  width: 100%;
}

.news-wrapper {
  width: 100%;
  background-color: #0D0D0D;
  padding: 8% 0;
}

.news-wrapper__txt {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border: solid #fff 2px;
}

.news-wrapper__txt__ttl {
  width: 100%;
  border-bottom: solid #fff 2px;
  padding: 2.5% 0;
}

.news-wrapper__txt__ttl p {
  font-size: 2.5rem;
}

.news-wrapper__txt__main {
  width: 100%;
}

.news-wrapper__txt__main p {
  margin: 8% 0;
}

.news-wrapper__txt__main a {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 3% auto;
}

@media screen and (max-width:431px) {
  
  .news-wrapper__txt {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    border: solid #fff 2px; 

  }
}

.news-wrapper__txt__main a:hover {
  opacity: 0.6;
}

.about {
  width: 100%;
  background-color: #000;
}

.about-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}


.about-wrapper__left {
  margin-top: 10%;
  width: 45%;
}

.about-wrapper__left img {
  width: 100%;
}

.about-wrapper__right {
  width: 50%;
  margin-top: 10%;
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width:431px) {
  .about-wrapper {
    width: 100%;
    display: inline-block;
    margin-bottom: 5%;
  }

  .about-wrapper__left {

    width: 45%;
    margin: 10% auto 0;
  }

  .about-wrapper__right {
    width: 50%;
    margin: 10% auto 0;
    text-align: center;
    font-size: 3rem;
  }
}

.about-wrapper__right__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2%;
  background: radial-gradient(#fff, #fff, #fff, #000, #000);
  border: solid #fff 1px;
  color: #000;
  width: 12rem;
  /*幅*/
  height: 12rem;
  /*高さ*/
  border-radius: 50%;
  /*角丸*/
}

.about-wrapper__right__bottom {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-wrapper__right__bottom__left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  background: radial-gradient(#fff, #fff, #fff, #000, #000);
  border: solid #fff 1px;
  color: #000;
  width: 12rem;
  /*幅*/
  height: 12rem;
  /*高さ*/
  border-radius: 50%;
  /*角丸*/
}

.about-wrapper__right__bottom__right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  background: radial-gradient(#000, #000, #fff);
  border: solid #fff 1px;
  width: 12rem;
  /*幅*/
  height: 12rem;
  /*高さ*/
  border-radius: 50%;
  /*角丸*/
}

.about-wrapper__txt {
  width: 100%;
  text-align: center;
  display: block;

}

.about-wrapper__txt p {
  font-size: 2.3rem;
  text-align: left;
  display: inline-block;
}

.about-wrapper__button {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 5%;
}

.about-wrapper__button a {
  border: solid #fff 2px;
  border-radius: 50px;
  padding: 0.7% 4%;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  overflow: hidden;
  position: relative;
  z-index: 1;

}

.about-wrapper__button a:hover {
  background-color: rgb(41, 41, 41);
}

.rotate {
  margin-left: 2%;
  display: inline-block;
  transform: rotate(90deg);
}



/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo {

  display: -ms-grid;
  overflow: hidden;
}

/*----------------------------*/

.d-demo__wrap {
  display: flex;
  overflow: hidden;
}

.d-demo__list {
  display: flex;
  list-style: none;
}

.d-demo__list--left {
  text-align: center;
  animation: infinity-scroll-left 30s infinite linear 0.5s both;
}

.d-demo__item {
  width: calc(100vw /4);
  font-size: 2.5rem;
}

.d-demo__item>img {
  width: 100%;
}

/*
左から右へ
----------------------------*/
@keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.d-demo__list--right {
  animation: infinity-scroll-right 95s infinite linear 0.5s both;
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo {
  display: -ms-grid;
  overflow: hidden;
}

/*----------------------------*/

.demo__wrap:hover .d-demo__list--left {
  animation-play-state: paused;

}

.d-demo__list--left p {
  margin-top: 5%;
  font-size: 2rem;
}

.footer-wrapper {
  width: 100%;

}

.footer-wrapper__top {
  width: 100%;
  text-align: center;
}

.footer-wrapper__top a:hover {
  opacity: 0.5;
}

.footer-wrapper__top img {
  width: 8%;
  vertical-align: top;
}

.footer-wrapper__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1C1C1C;
}

.footer-wrapper__list__left {
  width: 30%;
}

.footer-wrapper__list__left__logo {
  padding: 5% 0 0 10%;
  width: 100%;
}

.footer-wrapper__list__left__logo img {

  width: 60%;
}

.footer-tell {
  width: 70%;
  padding: 15% 0 0 10%;
  text-align: center;

}

.footer-tell span {
  margin-right: 5%;
}

.footer-tell p {
  padding: 4% 4%;
  font-size: 2.5rem;
  border: solid #fff 1px;
}

.footer-wrapper__list__right__txt {
  padding: 5% 0;

}

.footer-wrapper__list__right__txt dl {
  display: flex;
  font-size: 2rem;
  line-height: 2.5;

}

@media screen and (max-width:431px) {

  .footer-wrapper__top img {
    width: 8%;
    vertical-align: top;
  }

  .footer-wrapper__list {
    display: block;

    background-color: #1C1C1C;
  }

  .footer-wrapper__list__left {
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }

  .footer-wrapper__list__left__logo {
    padding: 0;

    width: 100%;
  }

  .footer-wrapper__list__left__logo img {
    margin-top: 20%;
    width: 60%;
  }

  .footer-tell {
    width: 90%;
    padding: 0;
    margin: 20% auto 0;

  }

  .footer-tell p {

    padding: 6% 6%;
    font-size: 2rem;
    border: solid #fff 1px;
  }

  .footer-wrapper__list__right__txt dl {
    width: 66%;
    display: flex;

    margin-left: 40%;
    transform: translateX(-25%);
    font-size: 1rem;
    line-height: 2.5;

  }

  .footer-wrapper__list__right__txt {
    padding: 10% 0;
    text-align: center;
  }

  .d-demo__item {
    width: calc(100vw /2);
    font-size: 2.5rem;
  }

  .d-demo__item>img {
    width: 50%;
  }
}

@media screen and (max-width:1150px) {
  .header-wrapper__right__nev__list a {

    font-size: 3rem;
  }

    .header-wrapper__right__nev__list__tell p {
      font-size: 2rem;
      border: solid #fff 1px;
      padding: 3% 3%;
      margin: 0 20%;
    }
}

@media screen and (max-width:1020px) {
  .header-wrapper__right__nev__list a {

    font-size: 3.5rem;
  }
    .header-wrapper__right__nev__list__tell p {
      font-size: 2.5rem;
      border: solid #fff 1px;
      padding: 3% 3%;
      margin: 0 20%;
    }

}

@media screen and (max-width:910px) {
  .header-wrapper__right__nev__list a {
    font-size:4rem;
  }
.header-wrapper__right__nev__list__tell p {
  font-size: 2.5rem;
  border: solid #fff 1px;
  padding: 3% 3%;
  margin: 0 20%;
}
}

@media screen and (max-width:800px) {
  .header-wrapper__right__nev__list a {
    font-size: 4.8rem;
  }
    .header-wrapper__right__nev__list__tell p {
      font-size: 3rem;
      border: solid #fff 1px;
      padding: 3% 3%;
      margin: 0 20%;
    }
}


@media screen and (max-width:690px) {
  .header-wrapper__right__nev__list a {
    font-size: 5.8rem;
  }
    .header-wrapper__right__nev__list__tell p {
      font-size: 3rem;
      border: solid #fff 1px;
      padding: 3% 3%;
      margin: 0 20%;
    }
}

@media screen and (max-width:580px) {
  .header-wrapper__right__nev__list a {
    font-size: 7rem;
  }
    .header-wrapper__right__nev__list__tell p {
      font-size:4rem;
      border: solid #fff 1px;
      padding: 3% 3%;
      margin: 0 20%;
    }
}