@charset "utf-8";

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

@media screen and (max-width:1150px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width:1020px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width:910px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width:800px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width:690px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width:580px) {
  html {
    font-size: 4px;
  }
}

body {

  color: #fff;
  box-sizing: border-box;
}

.header-wrapper {
  width: 100%;
  display: flex;
  background-color: #000;
}

.header-wrapper__left__image {
  width: 75%;
  position: relative;
}

.header-wrapper__left__image img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 0%;

}

.header-wrapper__left__image p {
  position: absolute;
  top: 3.3%;
  left: 3%;
  font-weight: 400;
  font-size: 6.6rem;
  color: #000;
  writing-mode: vertical-rl;
  font-family: 'Noto Serif', serif;
  line-height: 1.2;
}

@media screen and (max-width:1150px) {
  .header-wrapper__left__image p {
    position: absolute;
    top: 3.3%;
    left: 3%;
    font-size: 7.6rem;
    writing-mode: vertical-rl;
    font-family: 'Noto Serif', serif;
    line-height: 1.2;
  }
}

@media screen and (max-width:1020px) {
  .header-wrapper__left__image p {
    position: absolute;
    top: 3.3%;
    left: 3%;
    font-size: 8.6rem;
    writing-mode: vertical-rl;
    font-family: 'Noto Serif', serif;
    line-height: 1.2;
  }
}

@media screen and (max-width:910px) {
  .header-wrapper__left__image p {
    position: absolute;
    top: 3.3%;
    left: 3%;
    font-size: 9.6rem;
    writing-mode: vertical-rl;
    font-family: 'Noto Serif', serif;
    line-height: 1.2;
  }
}

@media screen and (max-width:800px) {
  .header-wrapper__left__image p {
    position: absolute;
    top: 3.3%;
    left:3%;
    font-size: 10.6rem;
    writing-mode: vertical-rl;
    font-family: 'Noto Serif', serif;
    line-height: 1.2;
  }
}

@media screen and (max-width:690px) {
  .header-wrapper__left__image p {
    position: absolute;
    top: 3.3%;
    left: 3%;
    font-size: 11.6rem;
    writing-mode: vertical-rl;
    font-family: 'Noto Serif', serif;
    line-height: 1.2;
  }
}

@media screen and (max-width:580px) {
  .header-wrapper__left__image p {
    position: absolute;
    top: 3.3%;
    left: 3%;
    font-size: 10.6rem;
    writing-mode: vertical-rl;
    font-family: 'Noto Serif', serif;
    line-height: 1.2;
  }
}

.header-wrapper__right__nav__logo {
  width: 100%;
  text-align: center;
  margin-top: 15%;

}

.header-wrapper__right__nav__logo img {
  width: 37%;
}


.sp-logo {
  display: none;
}

.header-wrapper__right__nav {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
}

.header-wrapper__right__nev__list {
  margin: 30% 0;
}

.header-wrapper__right__nev__list li {

  margin: 15% auto 0;
}

.header-wrapper__right__nev__list a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}

@media screen and (max-width:1150px) {
  .header-wrapper__right__nev__list a {

    font-size: 3rem;
  }
}

.header-wrapper__right__nev__list a:hover {
  opacity: 0.6;
}

.header-wrapper__right__nev__list__tell {
  width: 100%;
  margin: 0 auto;
}

.phone {
  margin-right: 7%;
}

.header-wrapper__right__nev__list__tell p {
  font-size: 2rem;
  border: solid #fff 1px;
  padding: 3% 3%;
  margin: 0 20%;
}

@media screen and (max-width:431px) {
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 0px;
    top: 0px;
    width: 42px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    background-color: #000;
  }

  .hamburger span {

    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    left: 10px;
    top: 5px;
    background: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }

  .hamburger span:nth-child(2) {
    top: 15px;
  }

  .hamburger span:nth-child(3) {
    top: 20px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 10px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    opacity: 0;

    visibility: hidden;
    transition: opacity .6s ease, visibility .6s ease;
  }

  .header-wrapper__right__nev__list {
    margin: 0 auto;
    text-align: center;
  }

  .header-wrapper__right__nev__list li {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
  }

  nav.globalMenuSp ul li {
    border-bottom: solid #fff 1px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 20vh;
    text-align: center;
    text-decoration: none;

  }

  .header-wrapper__right__nev__list__tell {
    display: none;
  }

  .header-wrapper__right__nev__list li:last-child {
    padding-bottom: 0;
  }

  .sp-logo {
    width: 100%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1;
  }

  .sp-logo img {
    margin: 0 auto;
    width: 25%;
  }

  nav.globalMenuSp ul li a {
    font-size: 6rem;
    display: block;
    font-family: 'Noto Serif', serif;
    color: #fff;
    text-decoration: none;


  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
  }

  .header-wrapper__left__image {
    width: 100%;
    height: 100vh;
  }

  .header-wrapper__left__image img {
    background-color: #000;
    width: 100%;
    height: 100vh;
    object-position: 55% 0%;

  }

  .header-wrapper__right__nav {
    width: 0px;
    margin: 0 auto;
    height: 100vh;
    text-align: center;

  }

  .header-wrapper {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);

  }

}
.main{
  background: #000;
}

.mmd-wrapper {
  width: 100%;
  position: relative;
}

.mmd-wrapper__ttl {
  width: 100%;
  padding-top: 20%;
  display: flex;
  overflow: hidden;
  align-items: center;
 
}

.mmd-wrapper__ttl__txt {
  margin-left: 5%;
  margin-bottom:5% ;
  width:54.9%;
}



.mmd-wrapper__ttl p {
  border-left: solid rgb(255, 0, 0) 10px;
  font-size: 3.5rem;
  padding: 1% 0 1% 2%;
  margin-right: 3%;

}

.mmd-wrapper__ttl__txt__image {
position: absolute;
  left: 60%;
  bottom: 40%;
  z-index: 10;
  width: 30%;
}

.mmd-wrapper__ttl__txt__image img {

  width: 100%;
  z-index: 10;
}

.mmd-wrapper__txt {
  z-index: 0;
  display: block;

  background-color: #1C1C1C;
  width: 95%;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 10%;
}

.mmd-wrapper__txt p {
  padding: 4% 0 4% 5%;
  display: inline-block;
  text-align: left;
  
}

@media screen and (max-width:431px) {
  .mmd-wrapper__ttl {
 width: 100%;
    display: block;
    position: static;
    text-align: center;
  }

  .mmd-wrapper__ttl__txt {
    display: inline-block;
    text-align: left;
    position: static;
    width: 100%; 
   margin: 0 auto 10%;
  }

 .mmd-wrapper__ttl__txt p{
border-left: solid red 5px;

width:max-content;
margin: 0 auto;
 }

  .mmd-wrapper__ttl__txt__image {
    position: static;
 text-align: center;
    z-index: 10;
    width: 50%;
    margin: 0 auto 10%;
  }

.mmd-wrapper__txt {
  z-index: 0;
  display: block;
  text-align: center;
  background-color: #1C1C1C;
  width: 100%;
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 10%;
}

.mmd-wrapper__txt p {
  padding: 4% 10%;
  display: inline-block;
  text-align: left;

}

}

.pri-wrapper__img {
  width: 100%;
}

.pri-wrapper__img {
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.pri-wrapper__img img {
  width: 80%;
  margin: 10% 0;
}

.pri-wrapper__img__item p {
  font-size: 3.5rem;
  margin-bottom: 10%;
}

.pri-wrapper__ttl {
  width: 100%;
  text-align: center;
  margin-bottom: 25%;

}

.pri-wrapper__ttl p {
  font-size: 4rem;
}

.pri-wrapper__txt {
  background-color: #1C1C1C;
  width: 100%;
  display: block;
  text-align: center;
}

.pri-wrapper__txt p {
  padding: 12% 5% 5% 5%;
  line-height: 1.5;
  font-size: 2rem;
  display: inline-block;
  text-align: left;
}

.left {
  position: absolute;
  right: 70%;
  transform: translateY(-60%);
  z-index: 1;

}

.center {
  z-index: 1;

  position: absolute;
  transform: translateY(-60%);
}

.right {
  position: absolute;
  left: 70%;
  transform: translateY(-60%);
}

@media screen and (max-width:1100px) {
.pri-wrapper__img img {
    width: 70%;
    margin: 10% 0;
  }
}
@media screen and (max-width:900px) {
  .pri-wrapper__img img {
    width: 80%;
    margin: 10% 0;
  }
    .center {
      z-index: 1;
  width: 30%;
      position: absolute;
      transform: translateY(-60%);
    }
}
@media screen and (max-width:431px) {
.pri-wrapper__img {
    width: 100%;
  }

  .pri-wrapper__img {
    position: static;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  display: inline-block;
   
  }

  .pri-wrapper__img img {
    width: 30%;
    margin: 5% 0 0 0;
    position: static;
  }
 .pri-wrapper__img__item{
  width: 100%;
margin: 0% 0 0 0;
 
 }

  .pri-wrapper__img__item p {
    font-size: 4rem;
    margin-bottom: 0%;
  }

  .pri-wrapper__ttl {
    width: 100%;
    margin: 0;
    text-align: center;
  
  }

  .pri-wrapper__ttl p {
    font-size: 5rem;
  
  }

  .pri-wrapper__txt {
      width: 100%;
 
    text-align: center;
  }

 

  .left {
    transform: translateY(0);
    position: static;
  padding-top: 0%;
 margin-top: 10%;
    z-index: 1;

  }

  .center {
    z-index: 1;
    position:static;
padding-top: 5%;
transform: translateY(0);
  }

  .right {
    position: static;
padding-top: 5%;
margin-bottom: 10%;
transform: translateY(0);
  } 
  
  .pri-wrapper__txt p {
   
    padding:10% 10% 0% 10%;
    line-height: 1.5;
    font-size: 2rem;
    display: inline-block;
 background-color: #1C1C1C;
  }
}

.eat-wrapper {
  margin-top: 10%;
background-color: #000;
  width: 100%;
  position: relative;
}

.eat-wrapper__img {
  width: 100%;
  display: flex;
  align-items: center;
}

.eat-wrapper__img img {
  width: 40%;
padding-bottom: 20%;
}


.eat-wrapper__img__ttl {
  margin-bottom: 25%;
  margin-left: 5%;
  width: 100%;
  border-left: solid #ff0000 10px;
}

.eat-wrapper__img__ttl p {

  padding-left: 2%;
  font-size: 3.5rem;
}

.eat-wrapper__txt {
  position: absolute;
  bottom: 25%;
  right: 0;
  transform: translateY(60%);
  width: 80%;
  margin-bottom: 10%;
  display: block;
  text-align: center;
  margin-left: auto;
  background-color: #1C1C1C;
  background-color: rgba(34, 34, 34, 0.5);
}

.eat-wrapper__txt p {
  padding: 5% 0;
  font-size: 2.3rem;
  line-height: 1.7;
  display: inline-block;
  text-align: left;
}

@media screen and (max-width:431px) {
.eat-wrapper {
    margin-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    position:static;
  }

  .eat-wrapper__img {
    width: 100%;
    display:block;
 text-align: center;
  }

  .eat-wrapper__img img {
    width: 40%;
    padding-bottom: 0%;

  }


  .eat-wrapper__img__ttl {
    margin-bottom: 0%;
    margin-left: 0%;
    width: 100%;
    text-align: center;
  border: none;
  }

  .eat-wrapper__img__ttl p {
width: max-content;
    padding-left: 0%;
    font-size: 3.5rem;  
  margin: 10% auto 0;
    border-left: solid #ff0000 10px;
  }

  .eat-wrapper__txt {
    position: static;
 margin:10% 0 ;
    transform: translateY(0%);
    width: 100%;
    display: block;
    text-align: center;
    margin-left:0;
    background-color: #1C1C1C;
    background-color: rgba(34, 34, 34, 0.5);
  }

  .eat-wrapper__txt p {
    padding: 5% 10%;
    font-size: 2.3rem;
    line-height: 1.7;
    display: inline-block;
    text-align: left;
  }
}






.footer-wrapper {
  width: 100%;

}
.tryangle-box{
  width: 100%;
  text-align: center;
  background-color: #000;
}



.tryangle{
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;

}
.tryangle:hover{
  opacity: 0.5;
  
  }
  
.tryangle::before{
content: "";
width: 0;
height: 0;
border-style: solid;
border-width: 30px 30px 45px  30px;

border-color: transparent  transparent #333 transparent;
position: absolute;
top: -35px;
left: 0;
transform: translate(-50%, -50%);
}

.tryangle::after{
  content: "∧";
  width: 0;
  height: 0;
 position: absolute;
 top: -38px;
 left: -20px;
 font-size: 50px;

  }

@media screen and (max-width:600px){
  .tryangle-box{
    width: 100%;
    text-align: center;
  }
  
  
  
  .tryangle{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
  
  }
  
  .tryangle::before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 25px 35px  25px;
  
  border-color: transparent  transparent #333 transparent;
  position: absolute;
  top: -31px;
  left: 0;
  transform: translate(-50%, -50%);
  }
  
  .tryangle::after{
    content: "∧";
    width: 0;
    height: 0;
   position: absolute;
   top: -33px;
   left: -16px;
   font-size: 40px;
  
    } 

}

.footer-wrapper__top {
  width: 100%;
  
  text-align: center;
  background: #000;
}

.footer-wrapper__top a:hover {
  opacity: 0.5;
}

.footer-wrapper__top img {
  width: 8%;
  vertical-align: top;
}

.footer-wrapper__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1C1C1C;
}

.footer-wrapper__list__left {
  width: 30%;
}

.footer-wrapper__list__left__logo {
  padding: 5% 0 0 10%;
  width: 100%;
}

.footer-wrapper__list__left__logo img {

  width: 60%;
}

.footer-tell {
  width: 70%;
  padding: 15% 0 0 10%;
  text-align: center;

}

.footer-tell span {
  margin-right: 5%;
}

.footer-tell p {
  padding: 4% 4%;
  font-size: 2.5rem;
  border: solid #fff 1px;
}

.footer-wrapper__list__right__txt {
  padding: 5% 0;

}

.footer-wrapper__list__right__txt dl {
  display: flex;
  font-size: 2rem;
  line-height: 2.5;

}

@media screen and (max-width:431px) {

  .footer-wrapper__top img {
    width: 8%;
    vertical-align: top;
  }

  .footer-wrapper__list {
    display: block;

    background-color: #1C1C1C;
  }

  .footer-wrapper__list__left {
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }

  .footer-wrapper__list__left__logo {
    padding: 0;

    width: 100%;
  }

  .footer-wrapper__list__left__logo img {
    margin-top: 20%;
    width: 60%;
  }

  .footer-tell {
    width: 90%;
    padding: 0;
    margin: 20% auto 0;

  }

  .footer-tell p {

    padding: 6% 6%;
    font-size: 2rem;
    border: solid #fff 1px;
  }

  .footer-wrapper__list__right__txt dl {
    width: 66%;
    display: flex;

    margin-left: 40%;
    transform: translateX(-25%);
    font-size: 1rem;
    line-height: 2.5;

  }

  .footer-wrapper__list__right__txt {
    padding: 10% 0;
    text-align: center;
  }

  .d-demo__item {
    width: calc(100vw /2);
    font-size: 2.5rem;
  }

  .d-demo__item>img {
    width: 50%;
  }
}

@media screen and (max-width:1150px) {
  .header-wrapper__right__nev__list a {

    font-size: 3rem;
  }

  .header-wrapper__right__nev__list__tell p {
    font-size: 2rem;
    border: solid #fff 1px;
    padding: 3% 3%;
    margin: 0 20%;
  }
}

@media screen and (max-width:1020px) {
  .header-wrapper__right__nev__list a {

    font-size: 3.5rem;
  }

  .header-wrapper__right__nev__list__tell p {
    font-size: 2.5rem;
    border: solid #fff 1px;
    padding: 3% 3%;
    margin: 0 20%;
  }

}

@media screen and (max-width:910px) {
  .header-wrapper__right__nev__list a {
    font-size: 4rem;
  }

  .header-wrapper__right__nev__list__tell p {
    font-size: 2.5rem;
    border: solid #fff 1px;
    padding: 3% 3%;
    margin: 0 20%;
  }
}

@media screen and (max-width:800px) {
  .header-wrapper__right__nev__list a {
    font-size: 4.8rem;
  }

  .header-wrapper__right__nev__list__tell p {
    font-size: 3rem;
    border: solid #fff 1px;
    padding: 3% 3%;
    margin: 0 20%;
  }
}


@media screen and (max-width:690px) {
  .header-wrapper__right__nev__list a {
    font-size: 5.8rem;
  }

  .header-wrapper__right__nev__list__tell p {
    font-size: 3rem;
    border: solid #fff 1px;
    padding: 3% 3%;
    margin: 0 20%;
  }
}

@media screen and (max-width:580px) {
  .header-wrapper__right__nev__list a {
    font-size: 7rem;
  }

  .header-wrapper__right__nev__list__tell p {
    font-size: 4rem;
    border: solid #fff 1px;
    padding: 3% 3%;
    margin: 0 20%;
  }
}